img {
     width: 100px;
     height: 100px;
}

#area-ordenes {
     height: 400px;
     overflow: auto;
     /* max-height: 400px !important; */
     /* overflow-y: auto; */
}

table tbody tr {
     cursor: pointer;
}

table tbody tr:hover  {
     background: lightgray;
}

#info-orden {
     height: 300px;
     overflow-y: auto;
}

#info-orden img{
      width: 54px;
      height: 50px;
      float: left;
}