#myChart {
    width: 300px !important;
    height: 300px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#myChartDogos, #myChartPercherones, #myChartEspecialidades, #myChartHamburguesas {
    width: 200px !important;
    height: 100px !important;
};

@media (min-width: 1300px) {

    body {
        background: red;
    }
    
    /* #myChart {
        width: 500px !important;
        height: 500px !important;
    }

    #myChartDogos, #myChartPercherones, #myChartEspecialidades, #myChartHamburguesas {
        width: 300px !important;
        height: 200px !important;
    }; */
}