#area-main {
  width: 60%;
  height: 100%;
  float: left;
}

#area-main img {
  width: 300px;
}

#area-imagen {
  width: 40%;
  height: 100%;
  float: right;
  background-image: url('../img/dogo-menu.png');
  background-size: 100% 100%;
}

.dogo-menu {
  margin-top: -40px !important;
  width: 450px !important;
}

hr {
  color: #ab0800;
  border: solid 2px;
  width: 740px;
  margin-left: auto;
  margin-right: auto;
}

/* Mediaquerys */

@media( min-width: 1200px ) {
  .dogo-menu {
    width: 40% important;
  }
}

/* @media( max-width: 1500px ) {
  #area-imagen {
    width: 70%;
  }

  #area-imagen {
    width: 30%;
  }
} */