.col-3 {
    padding: opx;
}

.col-3 img {
    width: 150px;
    height: 100px;
}

.col-3 div.mx-auto {  
    background: #ab0800;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 95%;
}

form{
    width: 95%;
}

#notificacion {
    width: 400px;
    /* height: 100px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    /* background: red; */
}

#lista-productos-eliminar {
    height: 500px;
    overflow: auto;
}

#lista-productos-eliminar img{
    width: 100px;
    height: 70px;
}

#lista-productos-eliminar p {
    margin-left: 10px;
}

.form-check-input {
    cursor: pointer;
}