#area-lista-ventas {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    overflow: auto;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 3px;
    text-align: center !important;
}

.estrellita {
    margin-left: 10px;
    width: 80px;
}

.parrafo-registro {
    margin-left: 10px;
    text-align: start;
}

#lista-ventas li{
    text-align: start;
}

#lista-ventas p {
    margin-left: 50px !important;
}